# VSCode settings
.vscode/
# macOS directory data
.DS_Store
# Random textures I use for debugging
*.png
!images/*.png
# Random models
*.obj
# The STB Image Header, used for loading images
stbi.h
# Clang cache
.cache
# Meson builddir
builddir/
# Clang compile commands (used by clangd)
compile_commands.json
